.header__logo-img {
    margin: 0;
    padding-bottom: 38px;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 900px) {
    .header__logo-img {
        width: 103.74px;
        height: 24.4px;
        padding-bottom: 27px;
    }
}
