.popup__input {
  width: 358px;
  line-height: 28px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 26px;
  background-color: transparent;
}

.popup__input:nth-child(2) {
  margin-bottom: 0;
}

@media screen and (max-width: 586px) {
  .popup__input {
    width: 238px;
  }
}
