.profile__btn-add {
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/add-button.svg);
  border-radius: 2px;
  margin-top: 34px;
}

.profile__btn-add:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .profile__btn-add {
    width: 282px;
    margin-top: 22px;
    background-size: 16px;
  }
}
